UTF-8 encoded files not reading; seems to require cp-1252 encoding

[Per RFC 8259, §8.1, JSON files are UTF-8 encoded.](https://tools.ietf.org/html/rfc8259)

However, when I use Japanese characters in my UTF-8 encoded JSON files, the program won't load them.

```
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Program Files (x86)\Python37-32\lib\tkinter\__init__.py", line 1702, in __call__
    return self.func(*args)
  File "C:\Program Files (x86)\Python37-32\lib\site-packages\pyjsonviewer\pyjsonviewer.py", line 118, in select_json_file
    self.set_table_data_from_json(file_path)
  File "C:\Program Files (x86)\Python37-32\lib\site-packages\pyjsonviewer\pyjsonviewer.py", line 187, in set_table_data_from_json
    data = self.load_json_data(file_path)
  File "C:\Program Files (x86)\Python37-32\lib\site-packages\pyjsonviewer\pyjsonviewer.py", line 232, in load_json_data
    return json.load(f)
  File "C:\Program Files (x86)\Python37-32\lib\json\__init__.py", line 293, in load
    return loads(fp.read(),
  File "C:\Program Files (x86)\Python37-32\lib\encodings\cp1252.py", line 23, in decode
    return codecs.charmap_decode(input,self.errors,decoding_table)[0]
UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 4251: character maps to <undefined>
```

This is arguably a problem with the Python decoder, but it can be resolved in source code, with:

```
raw_bytes = open(path_to_file, "rb").read()
return json.loads(raw_bytes.decode("utf-8"))
```

@LionKimbro  Hi. Thank you for reporting. Could you give me your JSON file. I cannot reproduce your issue using a JSON file includes Japanese characters.  